body {
    margin-top: 60px;
}

#daemon-state{
    border-radius: 50px;
}

.input-group>.input-group-append>.btn{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/*.btn {
    border-radius: 30px;
}

.input-group-text{
    border-radius: 30px;
}

input{
    border-radius: 10px;
}

.blockquote-left-border{
    border-left: 3px solid gray;
    padding-left: 10px;
    font-size: 12pt;
}

input#file-upload-button{
    margin: 0px;
    border-radius: 30px;
}*/