<div>
    <br>
    <h1><img src="img/info.svg" width="32" height="32"><span>&nbsp;&nbsp;&nbsp;</span>Текущее состояние</h1>
    <br>

    <div id="commtable"></div>

    <h3>События</h3>
    <div style="height:400px;line-height:1em;overflow:scroll;padding:5px;" id="events">
    </div>
</div>